.mainTheme {
	background-color: black;
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.main {
	opacity: 0;
	transition: all 1s ease-in;
}

.mainFadeIn {
	opacity: 1;
}

/*----------Intro----------*/

.intro {
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
}

.introDone {
	animation: introDone 2s;
}

.tarayahIntro {
		z-index: 21;
		position: absolute;
		height: 30%;
		transform: translate(-50%,-50%);
		top: 39%;
		left: 48%;
}


.worldIntro {
		z-index: 21;
		position: absolute;
		height: 20%;
		transform: translate(-50%,-50%);
		top: 60%;
		left: 55.6%;
}

#myVideoIntro {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.introButton {
	color: white;
	background-color: rgb(0, 0, 0, 0); 
	position: absolute;
	top: 80%;
	left: 46%;
	height: 13%;
	border-radius: 25%;
	transform: translate (-50%, -50%);
	font-size: 2vh;
	cursor: pointer;	
}

.introButtonEnter {
	font-size: 5vh
}

/*----------Header----------*/ 

.header {
     z-index:1;
	font-size: 8vh;
	position: fixed;
	top: 0;
	left: 50%;
	width: 100vw;
	background-color: gray;
	color: white;
	transform: translate(-50%, 0)
}

.headerIcon {
    position: absolute;
    z-index:1;
}

.socialsIcon {
	top: 0;
	height: 3.5vh;
	padding-top: 1vh;
	padding-left: 0.5vh;
}

.tarayahWorldHeader{
		position: absolute;
		height: 11vh;
		left: 38%;
}

/*----------NavBar----------*/

.navBar {
	position: absolute;
	bottom: 0;
	color: white;
	height: 4vh;
	width: 100%;
	opacity: 0;
	transition: all 0.7s ease-in;
	z-index: 10;
	text-shadow: 0.2vh 0.2vh #07070d;
	font-size: 2.2vh;
}

.navBarOpen {
	opacity: 1;
}

.menu {
	z-index: 10;
	height: 3vh;
	width: 5vh;
	position: fixed;
	bottom: 1vh;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.line1 {
	position: fixed;
	height: 15%;
	width: 100%;
	background-color: white;
	top: 0;
	border-radius: 30%;
	transition: all 1s ease;
	box-shadow: 0.2vh 0.2vh #07070d;
}

.line1.menuX {
	transform: rotate(45deg) translate(1vh, 0.55vh);
}

.line2 {
	position: fixed;
	height: 15%;
	width: 100%;
	background-color: white;
	top: 50%;
	border-radius: 30%;
	opacity: 1;
	transition: all 1s ease;
	box-shadow: 1px 2px #07070d;
}

.line2.menuX {
	transform: translate(0, 2vh);
	opacity: 0;
}


.line3 {
	position: fixed;
	height: 15%;
	width: 100%;
	background-color: white;
	top: 100%;
	border-radius: 30%;
	transition: all 1s ease;
	box-shadow: 1px 2px #07070d;
}

.line3.menuX {
	transform: rotate(-45deg) translate(1.5vh, -1.1vh);
}

.socials {
	position: fixed;
	right: 23%;
	cursor: pointer;
}

.news {
	position: fixed;
	left: 40%;
	cursor: pointer;
}

.about {
	position: fixed;
	right: 40%;
	cursor: pointer;
}

.art {
	position: fixed;
	left: 7%;	
	cursor: pointer;
}

.music {
	position: fixed;
	left: 23%;
	cursor: pointer;
}

.contact {
	position: fixed;
	right: 7%;
	cursor: pointer;
}

/*----------Planets----------*/

#myVideo {
  opacity: 0.8;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.planet {
	position: fixed;
	z-index: 5;
	background-color: gray;
	height: 11vh;
	width: 11vh;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: all 0.75s ease;
}

.planetText {
		display: none;
		font-size: 3.5vh;
		color:  #07070d;
		position: absolute;
		top: 47.5%;
		left: 50%;
		transform: translate(-50%, -50%);
}

.planet1 {
    object-fit: cover;
	top: 50%;
	left: 50%;
	background-image: url(../pics/NewsImg.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.planet2 {
    object-fit: cover;
	top: 30%;
	left: 15%;
	background-image: url(../pics/ArtImg.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.planet3 {
    object-fit: cover;
	top: 58%;
	left: 60%;
	background-image: url(../pics/AboutImg.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.planet4 {
    object-fit: cover;
	top: 70%;
	left: 92%; 
	background-image: url(../pics/ContactImg.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.planet5 {
    object-fit: cover;
	top: 80%;
	left: 40%;
	background-image: url(../pics/MusicImg.png);
	background-size: contain;
    background-repeat: no-repeat;
}

.planet6 {
    object-fit: cover;
	top: 20%;
	left: 70%;
	background-image: url(../pics/SocialsImg.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.planetZoom {
	height: 20vh;
	width: 20vh;
}

.planetEnter {
	height: 200vh;
    width: 200vh;
    top: 50%;
	left: 75%;
	z-index:6;
}

.resetBtn{
	position: absolute;
	display: none;
	font-size: 2vh;
	color: white;
	height: 3vh;
	width: auto;
	top: 50%;
	left: 10%;
	cursor: pointer;
}

.screen {
	position: absolute;
	z-index: 10;
	overflow: visible;
	opacity: 0;	
	display: none;
	color: white;
	background-color: #07070d;
	height: 200vh;
	width: 200vh;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 78%;
	border-radius: 50%;
	animation: screenOn 1.75s;
}

.screenOpacity{
    opacity: 0.7;
}

.screenNoBG {
    background-color: transparent;
	text-shadow: 1px 2px #07070d;
	width: 200vh;
	opacity: 1;
	animation: screenOnBis 1.75s;
}

/*----------Others----------*/

.flex {
	display: flex;
}

.opacityOff {
	opacity: 1;
}

.none {
	display: none;
}


/*----------Animation----------*/

@keyframes introDone {
	0% { opacity: 1; transform: scale(1); }
	75% { opacity: 1; transform: scale(2.2); }
	100% { opacity: 0; transform: scale(2.5); }
}

@keyframes spin {
         from { transform: translate(-50%, -50%) rotate(0deg); }
         to { transform: translate(-50%, -50%) rotate(360deg); }	
}

@keyframes screenOn {
		0% {opacity: 0;}
		30% {opacity: 0;}
		100% {opacity: 0.7;}
}

@keyframes screenOnBis {
		0% {opacity: 0;}
		30% {opacity: 0;}
		100% {opacity: 1;}
}
