.selectPage {
		height: 75px;
		width: 300px;
		font-size: 40px;
}

.label {
		display: block;
}

.textInput{
		width: 580px;
}

.contentInput {
		height: 300px;
		width: 600px;
}

/*----------Music---------*/

.songList {
		position: absolute;
		left: 0;
		top: 20%;
		max-width: 45vw;
}

.linkList {
		position: absolute;
		left: 50%;
		top: 20%;
		max-width: 45vw;
}

